<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=message%></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/63483fd584.js" crossorigin="anonymous"></script>
    <meta name="theme-color" content="#0f0f0f">
</head>

<body>
    <div class="error-details-container">
        <h2><%= error.status %></h2>
        <p><%=message%></p>
        <pre><%= error.stack %></pre>
    </div>
    <p class="center disclaimer"><strong>Note:</strong> This project is for demonstration purposes only and should not be
        used in production environments without proper security measures. <a href="https://github.com/dhelafrank/Paystack-Playground" class="github-icon">Github <i class="fa-brands fa-github"></i></a></p>
</body>

</html>