<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/63483fd584.js" crossorigin="anonymous"></script>
  <title><%= title %></title>
</head>

<body>
  <h1><%= title %></h1>
  <%-contents%>
  <p class="center disclaimer"><strong>Note:</strong> This project is for demonstration purposes only and should not be
    used in production environments without proper security measures.</p>

    <script src="https://js.paystack.co/v1/inline.js"></script>
  </body>

</html>